
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    background: black;
}

canvas {
    display: block;  /* hack to remove scroll bars if browser maximised */
    background: black;
    filter: blur(20px) contrast(40); /* keep contrast higher than blur */
}